.banner{
background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 10%), url("../../images/vetements.jpg");
background-size:cover;
padding:100px 100px;
color:white;
}

.btn-blue{
	margin-top: 40px;
}
